body {
  color: #B1D0E0;
  margin: 0;
  text-align: center;
  font-family: 'Cookie', serif;
  font-size:x-large;

}

h1 {
  color: #023a56;
  font-weight: bold;
  margin: 2.5vw auto 0 auto;
  font-family: 'Cookie', cursive;
}

h

.game-board {
  display: grid;
  grid-template-columns: 8vw 8vw 8vw 8vw 8vw 8vw 8vw;
  grid-template-rows: 8vw 8vw 8vw 8vw 8vw 8vw 0.5vw;
  justify-content: center;
  border-width: 0.1vw;
}


.box-ex{
  width: 41vw;
  background-color: #e3e3e3;
  margin: 0 auto;
  padding: .53vw
}
.box{
  width: 15vw;
  height: 15vw;
  line-height: 15vw;
  margin: .16vw .05vw;
  display: inline-block; 
  background-color: white;   
  color: white;
  border-style: solid;
  border-color: black;
  text-align: center;
  font-size:xx-large;
  font-weight: bold;
  color:black;
}
.box span{
  display: inline-block;
  vertical-align: middle;
}
.box-cols{
  margin: 0 auto !important;
}